@import "../../../scss/base/variables";
@import "../../../scss/base/mixins";

.paginator {
  margin: 20px 0;
  text-align: center;
  width: 100%;

  &__inner {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__button {
    @include reset-button();
    min-width: 34px;
    font-size: 18px;
    margin: 0 3px;
    padding: 4px 6px;
    background: $lightLightGray;
    color: $black;
    border: 1px solid rgba($black, 0.07);

    @media screen and (max-width: 1100px){
      font-size: 16px;
    }

    @media screen and (max-width: 630px){
      width: calc(100% / 3 - 6px);
      margin-top: 7px;
      margin-bottom: 7px;
    }

    &--active {
      color: $white;
      background: $mediumGray;
    }
  }
  &__separator {
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
    min-width: 34px;

    @media screen and (max-width: 760px){
      display: none;
    }
  }
}
