/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px "Montserrat", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word; }
  body *::-moz-selection {
    background: #b4d5fe; }
  body *::selection {
    background: #b4d5fe; }
  body * img::-moz-selection {
    background: transparent; }
  body * img::selection {
    background: transparent; }

a:visited {
  color: #00bcd4; }

a:link {
  color: #00bcd4; }

a:hover {
  color: #e04141; }

a:active {
  color: #a11a1a; }

img {
  max-width: 100%; }

html,
body,
#app {
  height: 100%; }

.container {
  display: grid;
  height: 100%;
  -webkit-box-align: start;
          align-items: start; }


/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.search {
  width: 60%;
  margin: 0 auto;
  padding: 40px 0;
  display: grid;
  grid-template-columns: 5fr 1fr; }
  .search__field {
    display: block; }
  .search__input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 30px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #62687f; }
    .search__input:focus {
      border-color: #e04141; }
  .search__button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    border-radius: 0;
    text-transform: none;
    min-width: auto;
    max-width: none;
    -webkit-transform: none;
            transform: none;
    box-sizing: border-box;
    background: #e04141;
    color: #fff;
    font-size: 20px; }
    .search__button:focus, .search__button:hover {
      background: #cd2121; }
    .search__button:active {
      background: #a11a1a; }
  .search--small-view {
    width: 100%;
    padding: 10px 0;
    grid-template-columns: 6fr 1fr; }
    .search--small-view .search__button {
      font-size: 16px; }
    .search--small-view .search__input {
      padding: 3px 5px;
      font-size: 22px; }

/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.loader {
  display: block;
  text-align: center;
  margin: 40px 20px; }
  .loader__spinner {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
    background: #e04141;
    border-radius: 0 50% 0 50%;
    /* @keyframes duration | timing-function | delay |
    iteration-count | direction | fill-mode | play-state | name */
    -webkit-animation: 2s linear infinite slidein;
            animation: 2s linear infinite slidein; }
    .loader__spinner:before {
      content: '';
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -25px 0 0 -25px; }
  .loader--over-all {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    z-index: 50; }

@-webkit-keyframes slidein {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes slidein {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.repositories-list {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }
  @media screen and (max-width: 800px) {
    .repositories-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px; } }
  @media screen and (max-width: 800px) {
    .repositories-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px; } }

/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background: #eef2f4;
  padding: 8px 10px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.07); }
  .list-item__user-info {
    align-self: center;
    text-align: center;
    max-width: 126px; }
  .list-item__user-avatar {
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); }
  .list-item__user-name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .list-item__repository-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .list-item__title {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px; }
  .list-item__time {
    display: block;
    font-size: 14px;
    color: #343b4c;
    font-weight: bold;
    margin: 10px 0; }
  .list-item__table-info {
    width: 100%;
    margin: 10px 0; }
    .list-item__table-info th {
      font-weight: bold;
      font-size: 14px; }

/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.paginator {
  margin: 20px 0;
  text-align: center;
  width: 100%; }
  .paginator__inner {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    vertical-align: top;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap; }
  .paginator__button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    border-radius: 0;
    text-transform: none;
    min-width: auto;
    max-width: none;
    -webkit-transform: none;
            transform: none;
    box-sizing: border-box;
    min-width: 34px;
    font-size: 18px;
    margin: 0 3px;
    padding: 4px 6px;
    background: #eef2f4;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.07); }
    @media screen and (max-width: 1100px) {
      .paginator__button {
        font-size: 16px; } }
    @media screen and (max-width: 630px) {
      .paginator__button {
        width: calc(100% / 3 - 6px);
        margin-top: 7px;
        margin-bottom: 7px; } }
    .paginator__button--active {
      color: #fff;
      background: #8d96b2; }
  .paginator__separator {
    display: inline-block;
    margin: 0 3px;
    padding: 4px 6px;
    min-width: 34px; }
    @media screen and (max-width: 760px) {
      .paginator__separator {
        display: none; } }

.logo {
  display: block;
  line-height: 1px; }
  .logo__image {
    width: 110px;
    height: 49px;
    display: inline-block; }

.head__inner {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px; }

/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.head {
  border-bottom: 2px solid #e04141;
  background: #fff;
  margin: 0 0 10px; }
  .head__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    -webkit-box-align: center;
            align-items: center; }
  .head__message {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #343b4c; }
  .head__links {
    text-align: right; }
  .head__link {
    display: inline-block;
    margin: 0 0 0 10px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    color: transparent;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    will-change: transform; }
    .head__link:visited {
      color: transparent; }
    .head__link:link {
      color: transparent; }
    .head__link:hover {
      color: transparent; }
    .head__link:active {
      color: transparent; }
    .head__link:hover {
      -webkit-transform: scale(1.25);
              transform: scale(1.25); }
    .head__link--github {
      background: url(/images/github.svg) 0 0 no-repeat;
      background-size: contain; }

.content__inner {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px; }

/* ===========================
Variables
=========================== */
/* Default Colors */
/*-----------------------------*/
/* Fonts */
/*-----------------------------*/
/* Etc. */
/*-----------------------------*/
.notifications {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 0;
  width: 25%;
  min-width: 320px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .notifications__item {
    text-align: center;
    display: block;
    vertical-align: top;
    margin: 5px 0;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e04141;
    color: #e04141;
    padding: 5px 40px 5px 40px;
    position: relative; }
  .notifications__close {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    margin: 0;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    border-radius: 0;
    text-transform: none;
    min-width: auto;
    max-width: none;
    -webkit-transform: none;
            transform: none;
    box-sizing: border-box;
    line-height: 1;
    padding: 2px 10px;
    font-size: 30px;
    color: #e04141;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .notifications__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 5px; }
  .notifications__text {
    display: inline-block;
    vertical-align: middle; }


/*# sourceMappingURL=style.css.map*/