@mixin reset-button() {
  user-select: none;
  background: transparent;
  border: 0;
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-family: $fontPrimary;
  margin: 0;
  box-shadow: none;
  padding: 0;
  opacity: 1;
  border-radius: 0;
  text-transform: none;
  min-width: auto;
  max-width: none;
  transform: none;
  box-sizing: border-box;
}

@mixin href($color: $linkColor, $colorHover: $linkColorHover, $colorActive: $linkColorActive, $colorVisited: $linkColorVisited){
  &:visited{
    color: $colorVisited;
  }
  &:link{
    color: $color;
  }
  &:hover{
    color: $colorHover;
  }
  &:active{
    color: $colorActive;
  }
}

@mixin pseudo($color: $linkColor, $colorHover: $linkColorHover, $colorActive: $linkColorActive, $type: dashed){
  @include href($color, $colorHover, $colorActive, $color);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px $type $color;

  &:hover{
    text-decoration: none;
    border-color: $colorHover;
  }
  &:active{
    border-color: $colorActive;
  }
}

@mixin select-color($color: $selectionColor) {
  * {
    &::selection { background: $color; }

    img {
      &::selection { background: transparent; }
    }
  }
}
